 

<% evil_string = "<script>alert('Gotcha');</script>".html_safe %>
<% good_string = "<strong>welcome to my site('Gotcha');</strong>".html_safe %>

<%#raw(evil_string)%><br />
<%# raw(good_string)%><br />


<%= evil_string.html_safe? %><br />
<%= good_string.html_safe?%><br />


<%#(evil_string) %><br />
<%# (good_string)%><br />


<hr />


<% simple_string = '<strong>please</strong> visit <a href= "hhtp://example.com">us</a>.' %>

<%= strip_links(simple_string) %><br />
<%= strip_tags(simple_string) %>


<hr />

<%= sanitize(evil_string) %><br />
<%= sanitize(simple_string) %><br />
<%= sanitize(simple_string, :tags => ['strong','em', 'a']) %><br />


