<%= error_messages_for(@section) %>

<table summary ="Section from fields ">

<tr>
<th><%= f.label(:page_id, "page")%></th>
<td><%= f.select(:page_id, @pages.map {|s| [s.name, s.id]}) %></td>
</tr>


<tr>
<th><%= f.label(:name)%></th>
<td><%= f.text_field(:name) %></td>
</tr>



<tr>
<th> <%= f.label(:position)%></th>
<td><%= f.select(:position, 1..@section_count)%></td>
</tr>


<tr>
<th><%= f.label(:visible)%></th>
<td><%= f.check_box(:visible ) %></td>
</tr>

<tr>
<th><%= f.label(:content_type) %></th>
<td>
<%= f.radio_button(:content_type, 'text' ) %> Text
<%= f.radio_button(:content_type, 'HTML' ) %> HTML
</td>
</tr>

<tr>
<th><%= f.label(:content)%></th>
<td><%= f.text_field(:content ,:size => '40x10') %></td>
</tr>

<tr>
<th><%= f.label(:created_at) %></th>
<td><%= f.datetime_select(:created_at, :order=>[:day, :month, :year] ) %></td>
</tr>

</table>