<%= link_to("<<back to last", {:action =>'index'}, :class => 'back-link')%>

<div class ="section show ">
<h2>Update Section</h2>
<%= form_for(:section, :url => {:action =>'update',:id => @section.id}) do |f|%>

<%= render(:partial => "form" , :locals => {:f => f})%>

<div class ="from-buttons">
<%= submit_tag("Update section")%>
</div>

<div class ="from-buttons">
<%= submit_tag("exit")%>
</div>
<%end%>
</div>
