<%= link_to("<<back to last", {:action =>'index'}, :class => 'back-link')%>

<div class ="section show ">
<h2>create Section</h2>
<%= form_for(:section, :url => {:action =>'create'}) do |f|%>

<%= render(:partial => "form" , :locals => {:f => f})%>

<div class ="from-buttons">
<%= submit_tag("Create section")%>
</div>

<div class ="from-buttons">
<%= submit_tag("exit")%>
</div>
<%end%>
</div>
