<%= link_to("<<back to last", {:action =>'index'}, :class => 'back-link')%>

<div class ="page show ">
<h2>Update Page</h2>
<%= form_for(:page, :url => {:action =>'update',:id => @page.id}) do |f|%>

<%= render(:partial => "form" , :locals => {:f =>
	f})%>

<div class ="from-buttons">
<%= submit_tag("Update page")%>
</div>

<div class ="from-buttons">
<%= submit_tag("exit")%>
</div>
<%end%>
</div>
